
{% extends '../base.html' %}
{% load static %}
{% block content %}
    <!-- headthis -->
<section class="ftco-section" id="blog-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h1 class="big big-2" style="font-family: btitr;">وبلاگ</h1>
          <h2 class="mb-4" style="font-family: btitr;">وبلاگ ما</h2>
          <p style="font-family: irsans ;font-size: 19px;">اخبار و رویدادها را از طریق وبلاگ ما بررسی کنید</p>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry justify-content-end">
            <a href="single.html" class="block-20" style="background-image: url('../images/image_1.jpg');">
            </a>
            <div class="text mt-3 float-right d-block" style="text-align: right;">
              <div class="d-flex align-items-center mb-3 meta">
                <p class="mb-0">
                  <span class="mr-2" style="font-family: vazir ;">28 اسفند 1402</span>
                  <a href="#" class="mr-2" style="font-family: vazir ;">امین رضایی</a>
                  <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
              <h3 class="heading" style="font-family: btitr ;"> ترکیب هوش‌مصنوعی و مکانیک<a href="single.html"></a></h3>
              <p style="font-family: irsans ;">این نوآوری تلفیقی از علم مکانیک و هوش‌مصنوعی است و میتواند کمک بزرگی به
                صنعت خودرو سازی بکند و ما تلاش میکنیم تا آنا را به انقلابی در این صنعت بدل کنیم</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate" style="text-align: right;">
          <div class="blog-entry justify-content-end">
            <a href="single.html" class="block-20" style="background-image: url(static/images/image_2.jpg);">
            </a>
            <div class="text mt-3 float-right d-block">
              <div class="d-flex align-items-center mb-3 meta">
                <p class="mb-0">
                  <span class="mr-2" style="font-family: vazir ;">27 اسفند 1402</span>
                  <a href="#" class="mr-2" style="font-family: vazir ;">محسن خیاط</a>
                  <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
              <h3 class="heading"><a href="single.html" style="font-family: btitr ;">مهارت‌های نرم چیست؟ گام به گام با
                  محسن خیاط</a></h3>
              <p style="font-family: irsans ;">مهارت‌های نرم مجموعه‌ای از مهارت‌هایی است که هر فرد در حرفه خود باید از
                آن استفاده کند که شامل کار تیمی، ...</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry">
            <a href="single.html" class="block-20" style="background-image: url('../images/image_3.jpg');">
            </a>
            <div class="text mt-3 float-right d-block" style="text-align: right;">
              <div class="d-flex align-items-center mb-3 meta">
                <p class="mb-0">
                  <span class="mr-2" style="font-family: vazir ;">27 اسفند 1402</span>
                  <a href="#" class="mr-2" style="font-family: vazir ;">محسن خیاط</a>
                  <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                </p>
              </div>
              <h3 class="heading" style="font-family: btitr ;"><a href="single.html">علت خطا در کتابخانه PyTorch چیست؟
                  گام به گام با محسن خیاط</a></h3>
              <p style="font-family: irsans ;">کتابخانه PyTorch یکی از کتابخانه های بزرگ در بخش هوش‌مصنوعی است و تحلیل
                داده است و ما قرار است تا چند نمونه از آن را مورد بررسی قرار دهیم...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section ftco-hireme img margin-top" style="background-image: url(../images/bg_1.jpg)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 ftco-animate text-center">
          <h2 style="font-family: irsans;">من برای <span> فریلنسری </span> نیز در دسترس هستم</h2>
          <p class="mb-0"><a href="#" class="btn btn-primary py-3 px-5">استخدام من</a></p>
        </div>
      </div>
    </div>
  </section>

<!-- footthis -->
{% endblock %}