
{% extends '../base.html' %}
{% load static %}
{% block content %}
    <!-- headthis -->
<section class="ftco-section" id="blog-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h1 class="big big-2" style="font-family: btitr;">وبلاگ</h1>
          <h2 class="mb-4" style="font-family: btitr;">وبلاگ ما</h2>
          <p style="font-family: irsans ;font-size: 19px;">اخبار و رویدادها را از طریق وبلاگ ما بررسی کنید</p>
        </div>
      </div>
      {% if name %}
      {% if typ %}
      <h4 style="text-align: right;font-family: vazir;">ترتیب بر اساس دسته‌‌بندی "{{name}}"</h3>
      {% else %}
      <h4 style="text-align: right;font-family: vazir;">ترتیب پست ها بر اساس نویسنده "{{name}}"</h3>
      {% endif %}
      {% else %}
      <h4 style="text-align: right;font-family: vazir;">تمام پست ها</h3>
      {% endif %}
      <div class="conts">
          {% for p in posts %}
          <div class="blog-entry justify-content-end" style="width: 350px;padding: 10px;background-repeat: no-repeat;
          background-color: hsl(0, 0%, 5%);border-radius: 10px;">
            <a href="{% url 'single' post=p.id %}" class="block-20">
              <img src="{{p.image.url}}" alt="img" style="background-size: contain;margin: 5px;border-radius: 10px;">
            </a>
            <div class="text mt-3 float-right d-block" style="text-align: right;">
              <div class="d-flex align-items-center mb-3 meta">
                <p class="mb-0">
                  <span class="mr-2" style="font-family: vazir ;">{{p.p_date}}</span>
                  <a href="{% url 'single' post=p.id %}" class="mr-2" style="font-family: vazir ;">{{p.uname.fname}} {{p.uname.lname}}</a>
                  <a href="{% url 'single' post=p.id %}" class="meta-chat"><span class="icon-chat"></span> بازدید کننده: {{p.cview}}</a>
                </p>
              </div>
              <h3 class="heading" style="font-family: btitr ;"><a href="{% url 'single' post=p.id %}">{{p.title}}</a></h3>
              <p style="font-family: irsans ;">
                {{p.desc|truncatewords:30}}
              </p>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </section>
  <section class="ftco-section ftco-hireme img margin-top" style="background-image: url(../images/bg_1.jpg)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 ftco-animate text-center">
          <h2 style="font-family: irsans;">من برای <span> فریلنسری </span> نیز در دسترس هستم</h2>
          <p class="mb-0"><a href="#" class="btn btn-primary py-3 px-5">استخدام من</a></p>
        </div>
      </div>
    </div>
  </section>

<!-- footthis -->
{% endblock %}