{% extends '../base.html' %}
{% load static %}
{% block content %}
    <!-- headthis -->
<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h1 class="big big-2">ارتباط</h1>
          <h2 class="mb-4" style="font-family: btitr;">ارتباط با من</h2>
          <p style="font-family: irsans ;font-size: 19px;">{{contactD}}</p>
        </div>
      </div>
      <div class="row d-flex contact-info mb-5">
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="icon-map-signs"></span>
            </div>
            <h3 class="mb-4" style="font-family: irsans;"> آدرس محل کار</h3>
            <p style="font-family: irsans;">{{user.location}}</div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="icon-phone2"></span>
            </div>
            <h3 class="mb-4" style="font-family: irsans;">شماره تماس</h3>
            <p><a href="tel://09010926908" style="font-family: vazir;">{{user.tellNumber}}</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="icon-paper-plane"></span>
            </div>
            <h3 class="mb-4" style="font-family: irsans;">ایمیل</h3>
            <p><a href="#"><span class="__cf_email__"
                  data-cfemail="f29b9c949db28b9d8780819b8697dc919d9f">{{user.email}}</span></a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="icon-globe"></span>
            </div>
            <h3 class="mb-4" style="font-family: irsans;">وبسایت</h3>
            <p><a href="#">website</a></p>
          </div>
        </div>
      </div>
      <div class="row no-gutters block-9" style="padding: 40px;">
        <div class="col-md-6 order-md-last d-flex" style="width:500px;height:600px">
          <form action="{% url 'contact' %}" class="bg-light p-4 p-md-5 contact-form" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" style="font-family: irsans;" placeholder="نام شما" name="username">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" style="font-family: irsans;" placeholder="ایمیل شما" name="email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" style="font-family: irsans;" placeholder="عنوان" name="title">
            </div>
            <div class="form-group">
              <textarea cols="30" rows="7" style="font-family: irsans;" class="form-control" placeholder="پیام" name="subject"></textarea>
            </div>
            <div class="form-group" style="text-align: center;">
              <input type="submit" value="ارسال" class="btn btn-primary py-3 px-5">
            </div>
          </form>
        </div>
        <div class="col-md-6 d-flex">
          <div class="img"><img src="{% static 'images/about.jpg' %}" alt="about" srcset="" style="width: 500px;height: 600px;"></div>
        </div>
      </div>
    </div>
</section>
<!-- footthis -->
{% endblock %}