{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1{
            text-align: center;
            align-content: center;
            background-color: #6374f5;
        }
        p{
            font-size: 40px;
            direction: rtl;
            text-align: right;
        }
    </style>
</head>
<body>
    <h1>
        !خوش آمدید
    </h1>
    <p>
    ♥{{fname}}♥ جون به سایت ما خوش‌آمدید <br>
    گذرواژه شما: '{{absnumb}}'
    </p>
    <br>
    <br>
</body>
</html>