{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/Dstyle.css' %}">
</head>

<body class="body">
    <a href="{% url 'pixel:house' %}" id="house"><span style="position: relative;top:-3.5px">➡</span></a><br>
    <div class="content">
        <form action="#" method="post" class="form">
            <h2>ورود به حساب</h2>
            <input type="username" placeholder="username"><br>
            <input type="password" placeholder="password"><br>
            <input type="submit" value="ورود" id="submit">
            <a href="{% url 'accounts:signup' %}" id="back">عضو شدن</a><br>
            

        </form>
    </div>
</body>

</html>