{% extends '../base.html' %}

{% load static %}

{% block content %}
<!-- headthis -->
<section class="ftco-section ftco-project" id="projects-section">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <h1 class="big big-2">پروژه‌ها</h1>
          <h2 class="mb-4" style="font-family: btitr;">پروژه‌ها</h2>
          <p style="font-family: irsans ;font-size: 19px;"> 
          {{projectD}}  
          
          <ul style="text-align: right;">
          <span style="font-family: vazir;font-weight: bold;">پرژه‌های من شامل:</span>
          {% for p in projects %}
            <li style="margin-right: 30px;font-family: vazir;"><span style="color:darkseagreen">{{p.proNam}}: </span>{{p.dis}}
            </li>
          {% endfor %}
          </ul>
        </p>
        </div>
      </div>
      <div class="row">
        {% for p in projects %}
        <div class="col-md-4">
          <div class="project img ftco-animate d-flex justify-content-center align-items-center" id="pic1">
            <div class="overlay"></div>
            <div class="text text-center p-4">
              <h3><a href="#">{{p.proNam}}</a></h3>
              <span></span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
<!-- footthis -->
{% endblock %}