{% extends '../base.html' %}
{% load static %}
{% block content %}
  <!-- headthis -->

  <section class="ftco-section ftco-no-pb" id="resume-section">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-10 heading-section text-center ftco-animate">
          <h1 class="big big-2">رزومه</h1>
          <h2 class="mb-4" style="font-family: btitr;">رزومه</h2>
          <p style="font-family: irsans ;font-size: 19px;">{{resumeD}}<a href="#spoi">توضیحات تکمیلی را مشاهده میکنید</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="flex-wrap: wrap;display: flex;">
          {% for card in cards %}
          <div class="resume-wrap ftco-animate" style="text-align: right;">
            <span class="date" style="font-family: vazir;">{{card.datetime}}</span>
            <h2 style="font-family: vazir;">{{card.title}}</h2>
            <span class="position" style="font-family: irsans;">{{card.resources}}</span>
            <p class="mt-4" style="font-family: irsans;">{{card.dis}}</p>
          </div>
          {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center mt-5" style="width: 90%;padding-left: 185px;">
      <div class="col-md-6 text-center ftco-animate">
        <p><a href="#" class="btn btn-primary py-4 px-5" style="width: fit-content;">Download CV</a></p>
      </div>
    </div>
    </div>
  </section>
  <!-- footthis -->
  {% endblock %}