{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/Dstyle.css' %}">
</head>

<body class="body-2">
    <div class="content-2">
        <h2>ثبت نام/عضویت</h2>
        <form action="#" method="post">
            {% csrf_token %}
            <div style="display: flex;width: inherit;height: inherit;" class="in">
                <div>
                    <span style="color: red;font-size: 20px;">*</span><input type="username" style="direction: ltr" placeholder="نام کاربری" class="important" required><br>
                    <span style="color: red;font-size: 20px;">*</span><input type="password" style="direction: ltr" placeholder="گذرواژه" class="important" required><br>
                    <span style="color: red;font-size: 20px;">*</span><input type="password" style="direction: ltr" placeholder="تکرار گذرواژه" class="important" required><br>
                    <span style="color: red;font-size: 20px;">*</span><input type="text" placeholder="نام" class="important" required><br>
                    <span style="color: red;font-size: 20px;">*</span><input type="text" placeholder="نام خانوادگی" class="important" required><br>
                    <span style="color: red;font-size: 20px;">*</span><input type="tel" placeholder="شماره تلفن" class="important" required><br>
                    <input type="text" placeholder="نشانی" class="none-important" ><br>
 
                </div>
                <div>
                    <span style="color: red;font-size: 20px;">*</span><input type="date" placeholder="تاریخ تولد" class="important" required><br>
                    <input type="text" placeholder="تحصیلات" class="none-important" ><br>
                    <input type="text" placeholder="زبان ها" class="none-important" ><br>
                    <input type="text" placeholder="کد پستی" class="none-important" ><br>
                    <input type="text" placeholder="پروژه های خاتمه یافته" class="none-important" ><br>
                    <span style="color: red;font-size: 20px;">*</span><input type="email" style="direction: ltr" placeholder="ایمیل" class="important" required><br>
                    {{captcha.captcha}}
                </div>
            </div>
            <div style="display: flex" class="out">
                <div>
                    <input type="file" accept="image/*" id="adrpic">
                </div>
                <div>
                    <label for="about">مشخصات:</label>
                    <textarea name="about" id="about" cols="60" rows="10"></textarea>
                </div><br>
                
            </div>
            <div style="position: relative;top:100px;align-content: center;border-top: 2px solid #2b48ba;">
                <input type="submit" value="ثبت نام">
            </div>
        </form>
    </div>
</body>

</html>