{% extends '../base.html' %}
{% load static %}
{% block content %}
    <!-- headthis -->
<section class="ftco-section" id="skills-section">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-12 heading-section text-center ftco-animate">
          <h1 class="big big-2">مهارت‌ها</h1>
          <h2 class="mb-4" style="font-family: btitr;">مهارت‌ها</h2>
          <p style="font-family: irsans ;font-size: 19px;">{{skillsD}}</p>
        </div>
      </div>
      <div class="row" style="direction: ltr;">
        <div class="col-md-6 animate-box" style="display: flex;flex-wrap: wrap;">
          {% for skill in skills %}
          <div class="progress-wrap ftco-animate" style="width:450px">
            <h3>{{skill.skilNam}}</h3>
            <div class="progress">
              <div class="progress-bar color-1" role="progressbar" aria-valuenow="{{skill.skilNum}}" aria-valuemin="0"
                aria-valuemax="100" style="width: 90%;">
                <span style="font-family: vazir;">{{skill.range}}%</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
<!-- footthis -->
{% endblock %}