@font-face {
    font-family: irsans;
    src: url(../fonts/A-Iranian-Sans/Iranian\ Sans.ttf);
}

@font-face {
    font-family: btitr;
    src: url(../fonts/B-Titr/B\ Titr\ Bold_0.ttf);
}

@font-face {
    font-family: vazir;
    src: url(../fonts/vazir-font-v16.1.0/Vazir-Medium-FD-WOL.ttf);
}
@font-face {
    font-family: m;
    src: url(../fonts/Mj_Mandana/Mj_Mandana_0.TTF) format('truetype');
}
#pic1{
    background-image: url(../images/project-2.jpg);
}
#pic2{
    background-image: url(../images/project-5.jpg);
}
#pic3{
    background-image: url(../images/project-1.jpg);
}
#pic4{
    background-image: url(../images/project-6.jpg);
}
#pic5{
    background-image: url(../images/project-4.jpg);
}
#pic6{
    background-image: url(../images/project-3.jpg);
}

.conts{
    width: 1200px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.blog-entry:hover{
  background-color: hsla(0, 24%, 42%, 0.6) 
}
.hero-wrap{
    background-image: url(../images/bg_1.jpg);
}
.img-fluid{
    position: relative;
    left:20px;
}
.bread{
    font-family: m;
}
a{
    color:azure;
}
a:disabled{
    color:azure;
}
.msg-success, .msg-warning, .msg-error, .msg-info{
    width: 400px;
    height: fit-content;
    position: sticky;
    left: 50px;
    top: 50px;
    text-align: center;
    align-content:center ;
    font-family: m;
    font-size: 40px;
    border-radius: 15px;
    z-index: 99999999;
}
.msg-success{
    border: 3px green solid;
    background-color: #24a81f50;
    color: rgb(255, 255, 255);
    
}
.msg-error{
    border: 3px rgb(128, 0, 0) solid;
    background-color: #a81f1f4b;
    color: rgb(255, 255, 255);
    
}
.msg-warning{
    border: 3px rgb(122, 128, 0) solid;
    background-color: #a8a81f5a;
    color: rgb(250, 250, 250);
    
}
.msg-info{
    border: 3px rgb(0, 124, 128) solid;
    background-color: #1f96a8aa;
    color: rgb(255, 255, 255);
    
}